<literal><</literal>layout name="index_layout" /<literal>></literal>

<literal><if condition="$full_page"></literal>
<div class="crumb-wrap">
	<div class="crumb-list"><i class="icon-font"></i><a href="/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name"><literal>{$ur_here}</literal></span></div>
</div>
<literal><include file="search" /></literal>

<div class="result-wrap">
	<form name="myform" id="myform" method="post">
		<div class="result-content" id="listDiv">
<literal></if></literal>
			<table class="result-tab" width="100%">
				<tr>
					<th class="tc" width="5%"><input class="allChoose" name="" id='check' type="checkbox"></th>
					<foreach name="tableInfoArray" item="tableInfo">{$enter}
					<th><center><a href="javascript:listTable.sort('{$tableInfo.column_name }'); "><literal>{</literal>:L('{$tableInfo.column_name}')}</a></center></th>{$enter}
					</foreach>
					<th><center>操作</center></th>
				</tr>
				<literal><volist name="list" id="vo"></literal>
				<tr>
					<td class="tc">
						<input name="ids[]" value="$vo['{$ID}']" class="check" type="checkbox">
					</td>
					<foreach name="tableInfoArray" item="tableInfo">{$enter}
					<td><center><span onclick="javascript:listTable.edit(this, 'edit_{$tableInfo.column_name}', <literal>{</literal>$vo['{$ID}']})"><literal>{$vo[</literal>'{$tableInfo.column_name}']}</span></center></td>{$enter}
					</foreach>
					<td><center>
						<a class="link-update" href="<literal>{</literal>:U('edit', array('id'=>$vo['{$ID}']))}"><literal>{:L('edit')}</literal></a>
						<a class="link-del" onclick="return confirm('<literal>{:L('remove_confirm')}</literal>');" href="<literal>{</literal>:U('del', array('id'=>$vo['{$ID}']))}"><literal>{:L('remove')}</literal></a>
					</center></td>
				</tr>
				<literal></volist></literal>
			</table>
<literal><if condition="$full_page"></literal>
			<literal><</literal>include file="Common/page" />
		</div>
		<div class="list_act_div">
			<a href="<literal>{:U('add')}</literal>" class="btn btn-primary btn2"><i class="icon-font"></i><literal>{:L('add')}</literal></a>
			<input name="remove" type="submit" id="btnSubmit" value="<literal>{:L('remove')}</literal>" class="btn btn-default" disabled="true" onclick="this.form.target = '_self'" />
			<input name="batch" type="hidden" value="1" />
		</div>
	</form>
</div>
<literal></if></literal>