<literal><</literal>layout name="tab_add_layout" /<literal>></literal>
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="<literal>{:U('index')}</literal>"><literal>{$ur_here}</literal></a><span class="crumb-step">&gt;</span><span><literal>{:L('add')}</literal></span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <ul class="nav nav-tabs" role="tablist" id="myTab" style="height:40px;">
            <li class="active"><a href="#general" role="tab" data-toggle="tab"><literal>{:L('tab_general')}</literal></a></li>
            <li><a href="#detail" role="tab" data-toggle="tab"><literal>{:L('tab_content')}</literal></a></li>
        </ul>

        <form action="<literal>{:U('insert')}</literal>" method="post" id="myform" name="myform" enctype="multipart/form-data">
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <table class="insert-tab" width="100%">
                    <tbody>
<foreach  name="tableInfoArray" item="tableInfo">
<if condition="($tableInfo.column_name neq $ID)">{$enter}
                        <tr>
                            <th width="150"><i class="require-red">*</i><literal>{</literal>:L('{$tableInfo.column_name}')}:</th>
                            <td>
                                <if condition="($tableInfo.column_type eq 'int(1)' or $tableInfo.column_type eq 'tinyint(1)')">{$enter}
                                    <div class="make-switch" data-on="primary" data-off="info" data-on-label="<literal>{</literal>:L('{$tableInfo.column_name}_yes')}" data-off-label="<literal>{</literal>:L('{$tableInfo.column_name}_no')}" >
                                        <input name="data[{$tableInfo.column_name}]" type="checkbox" checked>
                                    </div>{$enter}
                                <else/>{$enter}
                                <input class="input-sm" name="data[{$tableInfo.column_name}]" maxlength="20" size="50" value="" type="text" />{$enter}
                                </if>
                            </td>
                        </tr>{$enter}
</if>
</foreach>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="detail">
                <table class="table table-hover" width="90%" id="detail-table">
                    <tr>
                        <td><div class="col-md-9"> 
                            <script id="rich_text_area" name="data[content]" type="text/plain" style="width:810px; height:360px;"></script> 
                        </div></td>
                    </tr>
                </table>
            </div>
            <div class="button-div">
                <input class="btn btn-primary btn6 mr10" value="<literal>{:L('button_submit')}</literal>" type="submit">
                <input class="btn btn6" onclick="history.go(-1)" value="<literal>{:L('button_return')}</literal>" type="button">
            </div>
        </form>
    </div>
</div>